div {
    height: 200px;
    width: 200px;
    background-image: url("Paris.jpg");
    background-size: cover;
    font-size: 15px;
    color:black;
    position: fixed;
    top: 100px;
    right: 20px;
}
